#[link(name = "azure",
       vers = "0.1")];
#[crate_type = "lib"];

use std;

import libc::types::common::c99::*;
import libc::types::os::arch::c95::wchar_t;
import bindgen::*;
import cairo::*;
import xlib::*;

mod xlib;
mod cairo;
mod cairo_xlib;
mod test;